* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'SST', sans-serif;


}

body {
    font-family: 'SST', sans-serif;
}
.logo-image{
    margin: 0.7rem;
    height: 2vh;
}

.logo {
    flex: 0;
    justify-content: flex-end;
    display: flex;
    background: black;
    flex-direction: row;
}

.nav-logo{
    height: 6vh;
}

.search-icon{
    flex: 0;
    justify-content: flex-end;
    display: flex;
    height: 1vh;
    width: auto;


}
.nav{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}
nav .nav-links {
    display: flex;
    gap: 1rem;
    align-items: center;
}

nav form {
    display: flex;
    align-items: center;

    gap: 2rem;
    margin: 0;
    padding: 0;
}
nav form .form-group {
    border: none;
    margin: 0;
    padding: 0;
}
nav form select {
}
form select {
    border: none;
    outline: none;
    background: transparent;
}

.main-image{
    background-image: url("assets/deel-1/hero-banner.png");
    background-size: contain;   /* hele afbeelding tonen */
    background-position: block-start;
    background-repeat: no-repeat;
    height: 732px;
    width: 100%;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 3rem;
}
.foto-text{
    margin-bottom: 1rem;
}
.Shop-button{
    color: white;
    border: orangered 1px solid;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top:2rem;
    background: orangered;
    border-radius: 4rem;

}
.games{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cards {

    display: flex;
    align-items: center;
    height: 10rem;
    justify-content: center;
    gap: 1rem;
    flex-wrap: nowrap; /* of wrap als je wilt laten doorlopen */
}
.card {
    width: 15rem;
    height: auto;
    border: 5px white;
    border-radius: 1rem;
    overflow: hidden; /* voorkomt dat de img uitsteekt */
    filter: brightness(0.8);
    transition: border 0.5s, filter 0.5s, padding 0.5s, border-radius 0.5s;
}

.card img, .month-cards img {
    border-radius: 0.5rem;
}
.card:hover {
    border: 4px blue solid;
    border-radius: 1rem;
    filter: brightness(100%);
    padding: 5px;


}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* vult de hele kaart; kan iets croppen */
    display: block;
}
.card-image-2{
    width: 100%;
    height: 100%;
    object-fit: cover; /* vult de hele kaart; kan iets croppen */
    display: block;
    overflow: hidden;
}

.nogbanner {
    position: relative;
    height: 100vh;
    width: 100%;
}
.nogbanner-img {
    position: absolute;

    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: fill; /* hele afbeelding, wel balken indien aspect mismatch */
}
.nogbanner .content {
    position: relative;
    z-index: 1;
    color: white;
}

.content{
    padding: 5rem;
    font-size: 1.5rem;
}
.onder{
    margin-bottom: 1.5rem;
}
.content p{
    filter: brightness(0.8);
}
.find-button{
    color: black;
    border: white 1px solid;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top:2rem;
    background: white;
    border-radius: 4rem;

}
.month-cards{

    margin-top: 20rem;
    border: transparent 5px;
    border-radius: 10rem;
}

